/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-font: "Press Start 2P", "fantasy";
  --main-font: "Inter-Variable", sans-serif;
  --card-title-font-weight: 700;
  --card-text-font-weight: 400;
  --font-wght: 400;
  --background-color: #fff;
  --accent-color: #000;

  --contour-like: #000;
  --hart-sparks-color: #FF0000;
  --hart-hover-fill: #000;
  --hart-active-fill: #FF0000;
  --hart-is-like-fill: #FF0000;
  --button-text-color: #fff;
  --dialog-inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem); /*341-357px */

  --card-label-right: clamp(0.625rem, 0.295rem + 1.408vw, 1.563rem);
  --card-label-bottom: clamp(20.938rem, 13.807rem + 30.423vw, 41.188rem);
  
 
 
  --bg-image: repeating-linear-gradient(
    var(--bg-gradient-repeat-color) 0 2px,
    transparent 2px 4px
  ),
  repeating-linear-gradient(
    to right,
    var(--bg-gradient-repeat-color) 0 2px,
    transparent 2px 4px
  ),
  linear-gradient(
    var(--bg-bottom-graadient-color-one) 0.01%,
    var(--bg-bottom-graadient-color-two)
  );

  /* Цвета градиента bg */
  --bg-gradient-repeat-color: #d3d3d3;
  --bg-bottom-graadient-color-one: #e7e7e7;
  --bg-bottom-graadient-color-two: #1a1a1a;
  /* Шрифты */
  --header-logo-font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
  /* Обводка лейбла */
  --label-shadow: -1px 0 var(--background-color), 0 -1px var(--background-color),
    1px 0 var(--background-color), 0 1px var(--background-color);

    
}

@media (width < 375px) {
  :root {
    --header-logo-font-size: clamp(2.688rem, 2.021rem + 4.444vw, 3.063rem);
    --card-label-bottom: clamp(17.813rem, 5.313rem + 66.667vw, 20.938rem);
  }
}
